
@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #000309;
}


.hero-container {
    background-image: url("./assets/hero2.jpg");
    background-size: cover;
    background-position: center;
  }